/*
 * Collections Colors
 */
@import "declare/colors"

body
  font-family "Roboto", Arial, Helvetica, sans-serif
  font-size 14px
  line-height 1.71428571
  color $color_0145
  background-color $color_0170

.group
  position absolute
  top 44%
  left 50%
  transform translate(-50%, -50%)
  .input-group
    margin-bottom 22px
  .title
    background-color brown
    font-family "Roboto"
    padding 50px
    position absolute
    left 50%
    top 12%
    transform translate(-50%, -50%)
    color $color_0145
    padding-bottom -14px
  .status
    padding-bottom 20px

.box
  padding-top 10px
  padding-left 15px
  padding-right 15px
  width 300px

.wellcome
  position absolute
  top 11%
  left 50%
  transform translate(-50%, -50%)

.mini
  padding-left 35px
  padding-bottom 1px
