doctype html
html(ng-app='BackgroundApp' ng-csp='')
  head
  body
    //script(src='../javascripts/angular.min.js')
    //script(src='../javascripts/moment-with-locales.min.js')
    //script(src='../javascripts/ydn.db-is-core-qry.js')
    //script(src='../javascripts/angular-primus.min.js')
    //script(src='../javascripts/primus.io.js')
    script(src='../javascripts/background.bundle.js')
