//
  <div class="test">
  <h1>Hello World</h1>
  <h1>{{ date.raw | date:'hh:mm:ss' }}</h1>
  <h2>{{ date.raw | date:'EEEE, MMMM yyyy' }}</h2>
  </div>
.sidebar
  .sidebar-navicontainer
    .sidebar-headbox
      span.sidebar-header UI Elements
      a.sidebar-toggle Hide
    ul.nav
      li(ng-class="{ selected: isActive('/maverix')}")
        a(href='#/maverix')
          span.entypo-window
          |         Guide
      li(ng-class="{ selected: isActive('/controls')}")
        a(href='#/controls')
          span.entypo-plus-circled
          |         Controls
      li(ng-class="{ selected: isActive('/forms')}")
        a(href='#/forms')
          span.entypo-pencil
          |         Forms
      li(ng-class="{ selected: isActive('/modals')}")
        a(href='#/modals')
          span.entypo-window
          |         Modals
      li(ng-class="{ selected: isActive('/tables')}")
        a(href='#/tables')
          span.entypo-list
          |         Tables
      li(ng-class="{ selected: isActive('/icons')}")
        a(href='#/icons')
          span.entypo-box
          |         Icons
      li(ng-class="{ selected: isActive('/type')}")
        a(href='#/type')
          span.entypo-behance
          |         Typography
      li(ng-class="{ selected: isActive('/charts')}")
        a(href='#/charts')
          span.entypo-chart-bar
          |         Charts
  .sidebar-navicontainer
    .sidebar-headbox
      span.sidebar-header Example Pages
      a.sidebar-toggle Hide
    ul.nav
      li(ng-class="{ selected: isActive('/view1')}")
        a(href='#/view1')
          span.entypo-monitor
          |         Maverix
      li(ng-class="{ selected: isActive('/view2')}")
        a(href='#/view2')
          span.entypo-attention
          |         Warnings 
          span.sidebar-badge 4
  .sidebar-navicontainer
    .sidebar-headbox
      span.sidebar-header Placeholder Accounts
      a.sidebar-toggle Hide
    ul.nav
      li
        span.entypo-user
        |  Users
      li
        span.entypo-users
        |  Groups
      li
        span.entypo-vcard
        |  Certificates
      li
        span.entypo-doc-text
        |  Protocols
      li
        span.entypo-chart-bar
        |  Stats
  .sidebar-navicontainer
    .sidebar-headbox
      span.sidebar-header Placeholder Services
      a.sidebar-toggle Hide
    ul.nav
      li
        a(href='')
          span.entypo-archive
          |  Caching
      li
        a(href='')
          span.entypo-drive
          |  File Sharing
      li
        a(href='')
          span.entypo-calendar
          |  Calendar
      li
        a(href='')
          span.entypo-book
          |  Contacts
      li
        a(href='')
          span.entypo-mail
          |  Mail
      li
        a(href='')
          span.entypo-chat
          |  Messages 
          span.sidebar-badge 1
      li
        a(href='')
          span.entypo-newspaper
          |  Profile Manager
      li
        a(href='')
          span.entypo-ccw
          |  Backups
      li
        a(href='')
          span.entypo-lock
          |  VPN
      li
        a(href='')
          span.entypo-globe
          |  Websites
      li
        a(href='')
          span.entypo-docs
          |  Wiki
      li
        a(href='')
          span.entypo-tools
          |  Build
