doctype html
html(ng-app='mainApp')
  head
    meta(charset='utf-8')
    link(rel='stylesheet', href='../styles/font-awesome.css')
    link(rel='stylesheet', href='../styles/bootstrap.css')
    link(rel='stylesheet', href='../styles/sandstone.css')
    link(rel='stylesheet', href='../styles/roboto-fontface.css')
  body
    #particles(ng-hide='hideParticles')
    .container(ng-view='')
    script(type='text/javascript', src='../scripts/vendors.js')
    script(type='text/javascript', src='../scripts/controllers.js')
    script(type='text/javascript', src='../scripts/directives.js')
    script(type='text/javascript', src='../scripts/services.js')
    script(type='text/javascript', src='../scripts/filters.js')
