<!DOCTYPE html>
<html ng-app="MainApp">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../styles/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/sweetalert.css">
    <link rel="stylesheet" href="../styles/dist/dashboard.css">
    <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.min.css">
  </head>
  <body>

    <!-- index.html -->
    <div class="wrapper">
      <div ui-view="sidebar"></div>
      <div class="main-panel">
        <div ui-view="header"></div>
        <div ui-view="content"></div>
      </div>
    </div>

    <script src="../javascripts/angular.min.js"></script>
    <script src="../javascripts/angular-ui-router.min.js"></script>
    <script src="../javascripts/ui-route-styles.js"></script>
    <script src="../javascripts/ui-bootstrap-tpls.min.js"></script>
    <script src="../javascripts/primus.io.js"></script>
    <script src="../javascripts/angular-primus.min.js"></script>
    <script src="../javascripts/SweetAlert.min.js"></script>
    <script src="../javascripts/sweetalert.min.js"></script>
    <script src="../javascripts/main.js"></script>
  </body>
</html>