doctype html
html(ng-app="mainApp", ui-router-styles='')
  head
    meta(charset="utf-8")
    link(rel="stylesheet", href="../styles/font-awesome.css")
    link(rel="stylesheet", href="../styles/bootstrap.css")
    link(rel="stylesheet", href="../styles/roboto/roboto-fontface.css")
  body

    div(ui-view="")

    script(type="text/javascript", src="../scripts/vendors.js")
    script(type="text/javascript", src="../scripts/app.js")