doctype html
html(ng-app='MainApp')
  head
    meta(charset='utf-8')
    link(rel='stylesheet', href='../styles/bootstrap.min.css')
    link(rel='stylesheet', href='../styles/sweetalert.css')
    link(rel='stylesheet', href='../styles/dashboard.min.css')
    link(rel='stylesheet', href='../styles/font-awesome.min.css')
  body
    // index.html
    .wrapper
      div(ui-view='sidebar')
      .main-panel
        div(ui-view='header')
        div(ui-view='content')
    script(src='../javascripts/angular.min.js')
    script(src='../javascripts/angular-ui-router.min.js')
    script(src='../javascripts/ui-route-styles.js')
    script(src='../javascripts/ui-bootstrap-tpls.min.js')
    script(src='../javascripts/primus.io.js')
    script(src='../javascripts/angular-primus.min.js')
    script(src='../javascripts/SweetAlert.min.js')
    script(src='../javascripts/sweetalert.min.js')
    script(src='../javascripts/main.js')
