script(type='text/javascript').
  particlesJS.load('particles', '../config/particles.json');
.fluid-container#particles
  .wellcome.text-uppercase
    h1 {{ bigMessage }}
  .group
    .box
      .mini
        img.img-circle(src='../images/login.jpg')
      .status
        span(ng-class="{'label label-default': conectionStatus, 'label label-success': !conectionStatus}")
          i(ng-class="{'fa fa-sign-in': conectionStatus, 'fa fa-refresh fa-spin': !conectionStatus}")
          |  {{ textStatus }}
      form(name='myForm', ng-submit='login(credentials)', novalidate='')
        .input-group
          span.input-group-addon
            i.fa.fa-envelope-o
          input#email.form-control(type='email', ng-model='credentials.email', placeholder='{{ inputName }}', ng-required="'true'")
        .input-group
          span.input-group-addon
            i.fa.fa-key
          input#password.form-control(type='password', ng-model='credentials.password', placeholder='{{ inputPass }}', ng-required="'true'")
        .form-group
          button.btn.btn-default.btn-block.text-uppercase(type='submit', ng-disabled='!myForm.$valid')
            i(ng-class="{'fa fa-sign-in': !linkConnect, 'fa fa-refresh fa-spin': linkConnect}")
            |  {{ buttonText }}
