<div class="module" ng-controller="loginController">    
  <div class="wellcome text-uppercase">
    <h1>{{ bigMessage }}</h1>
  </div>
  <div class="group">
    <div class="box">
      <div class="mini">
        <img src="app/images/login.jpg" class="img-circle">
      </div>
      <div class="status">
        <span ng-show="conectionStatus == 'offline'" class="label label-default"><i class="fa fa-circle-o-notch fa-spin"></i>&nbsp;&nbsp;fuera de linea</span>
        <span ng-show="conectionStatus != 'offline'" class="label label-success"><i class="fa fa-exchange"></i>&nbsp;&nbsp;en linea</span>
      </div>
      <form name="myForm" ng-submit="login(credentials)" novalidate="">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
          <input id="email" type="email" ng-model="credentials.email" placeholder="{{ inputName }}" class="form-control" required>
        </div>
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-key"></i></span>
          <input id="password" type="password" ng-model="credentials.password" placeholder="{{ inputPass }}" class="form-control" required>
        </div>
        <div class="form-group">
          <button ng-disabled="myForm.$valid !== true || linkConnect === true" type="submin" class="btn btn-default btn-block text-uppercase"><i ng-show="buttonText == 'Verificando'" class="fa fa-refresh fa-spin"></i><i ng-show="buttonText == 'Ingresar'" class="fa fa-sign-in" aria-hidden="true"></i>&nbsp;{{ buttonText }}</button>
        </div>
      </form>    
    </div>
  </div>
</div>