/*
 * Collections Colors
 */
@import "declare/colors"

/*
 * 3rd Normalize.css v4.1.1 (https://necolas.github.io/normalize.css)
 */
@require "3rd/normalize"

/*
 * 3rd Animate.css v3.5.1 (https://daneden.github.io/animate.css)
 */
@require "3rd/animate"

body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
