// header.html
nav.navbar.navbar-default.navbar-fixed
  .container-fluid
    .navbar-header
      button.navbar-toggle.toggled(type='button', data-toggle='collapse', data-target='#navigation-example-2')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='', ng-click='vm.current()') {{ vm.title }}
    .collapse.navbar-collapse
      //
        <ul class="nav navbar-nav navbar-left">
        <li><a ui-sref="" data-toggle="dropdown" class="dropdown-toggle"><i class="fa fa-dashboard"></i></a></li>
        <li class="dropdown"><a ui-sref="" data-toggle="dropdown" class="dropdown-toggle"><i class="fa fa-globe"></i><b class="caret"></b><span class="notification">5</span></a>
        <ul class="dropdown-menu">
        <li><a ui-sref="">Notification 1</a></li>
        <li><a ui-sref="">Notification 2</a></li>
        <li><a ui-sref="">Notification 3</a></li>
        <li><a ui-sref="">Notification 4</a></li>
        <li><a ui-sref="">Another notification</a></li>
        </ul>
        </li>
        <li><a ui-sref=""><i class="fa fa-search"></i></a></li>
        </ul>
      ul.nav.navbar-nav.navbar-right
        li(ng-repeat='item in vm.header')
          a(ui-sref='{{ item.url }}')
            i(class='{{ item.icon }}')
            p {{ item.name }}

      //
        <ul class="nav navbar-nav navbar-right">
        <li><a ui-sref="">Account</a></li>
        <li class="dropdown"><a ui-sref="" data-toggle="dropdown" class="dropdown-toggle">Dropdown<b class="caret"></b></a>
        <ul class="dropdown-menu">
        <li><a ui-sref="">Action</a></li>
        <li><a ui-sref="">Another action</a></li>
        <li><a ui-sref="">Something</a></li>
        <li><a ui-sref="">Another action</a></li>
        <li><a ui-sref="">Something</a></li>
        <li class="divider"></li>
        <li><a ui-sref="">Separated link</a></li>
        </ul>
        </li>
        <li><a ui-sref="">Log out</a></li>
        </ul>
