// login.html
#login
  .wellcome.text-uppercase
    h1 {{ vm.bigMessage }}
  .group
    .box
      .mini
        img.img-circle(src='../images/login.jpg')
      .status
        span(ng-class="{'label label-success': vm.conectionStatus, 'label label-default': !vm.conectionStatus}")
          i(ng-class="{'fa fa-exchange': vm.conectionStatus, 'fa fa-refresh fa-spin': !vm.conectionStatus}")
          |  {{ vm.textStatus }}
      form(name='myForm', ng-submit='vm.login(credentials)', novalidate='')
        .input-group
          span.input-group-addon
            i.fa.fa-envelope-o
          input#email.form-control(type='email', ng-model='credentials.email', placeholder='{{ vm.inputName }}', ng-required="'true'")
        .input-group
          span.input-group-addon
            i.fa.fa-key
          input#password.form-control(type='password', ng-model='credentials.password', placeholder='{{ vm.inputPass }}', ng-required="'true'")
        .form-group
          button.btn.btn-default.btn-block.text-uppercase(type='submit', ng-disabled='!myForm.$valid')
            i(ng-class="{'fa fa-sign-in': !vm.linkConnect, 'fa fa-refresh fa-spin': vm.linkConnect}")
            |  {{ vm.buttonText }}
